*{
    margin: 0;
    padding: 0;
}

/* css variables */


:root{
    --navbar-height: 53px
}


/* navigation bar  */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

/* logo and image  */

#logo{
    margin: 9px 13px;
}

#logo img{
    height: 35px;
    margin: 4px 14px;
    border-radius: 20px;
}

/* navigation bar : list styling  */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* home section  */
html{
    scroll-behavior: smooth;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 470px;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../pix/pix4.jpg) no-repeat center center/cover;
    height: 550px;
    width: 100%;
    z-index: -1;
    opacity:0.90 ;
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* services section  */

#services{
    margin: 25px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: 6px;
    border-radius: 11px;
    background-color: #3a363d0f;
}
#services .box img{
    /* height: 130px; */
    width: 140px;
    margin: auto;
    display: block;
}

/* clients section  */

#client-section{
    /* height: 300px; */
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../pix/pix1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 100px;
    padding: 40px;
}

#client-item{
    padding: 20px;
}

/* contact us  */


#contact{
    position: relative;
    /* height: 500px; */
    /* padding: 20px 0px; */
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(../pix/pix16.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,

#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px;
   /* font-size: 1.1rem; */
}

#contact-box form{
    width: 40%;
    /* height: 20%; */
}

#contact-box label{
    font-size: 1.0rem;
    font-family: 'Baloo Bhai 2', cursive;
} 

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}










/* utility class */

.h-primary{
    font-size: 2.8rem;
    padding: 6px;
    font-family: 'Baloo Bhai 2', cursive;
}

/* .h-primary1{
    font-size: 2.8rem;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: -200px;
} */
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
}

.center{
    text-align: center;
}